body{
    overflow-x:hidden;
}
.w-5{
    width: 5% !important;
}
*{
  font-family: "Plus Jakarta Sans", Helvetica,Arial,-apple-system, sans-serif;
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
.sdiv{
    position: relative;
  }
.sdiv>div{
    position: absolute;
    top:30vh;
    width:75%;
    text-align:right;
    color: white;
    right: 15vw;
}
.sdiv>div>h1{
    font-size: 62px;
    font-weight: bold;
}
.text-justify{
    text-align:justify;
}
.w-60{
    width: 60%!important;
}
.sign input,.sign>select,.sign>textarea{
    width:100%;
    height: 5vh;
    border-radius: 5px;
    padding:10px;
}
.sign>div.p{
 display: flex;   
 align-items:center;
 border: 1px solid rgba(0,0,00.747);
 border-radius: 5px;
 box-sizing: border-box;
 padding-right: 0.2vw;
}
.sign>div.p:hover{
border: 3px solid black;
}
.sign>div>input{
    border: 0;
}
.sign>div>input:focus{
    border: 0;
    outline: 0;
}
#accept{
    height: 10px!important;
    display: inline;
    width: initial;
}
.sign>textarea{
    height: 10vh;
}
.sign>input:hover{
    border: 3px solid black!important;
}
.sign>textarea:hover{
    border: 3px solid black!important;
}
.banner{
    background: url(./images/bg1.png);
    color: white;
}
.nofound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}
.nofound>h1{
    font-size: 14vw;
    color: white;
    text-shadow:5px 5px 10px red ;
}
.nofound>p{
    font-size: 3vw;
    color: white;
    text-shadow:5px 5px 10px red ;
}
.bronze{
    box-shadow: 5px 5px   50px 10px brown;
 border: brown;
}
.silver{
    box-shadow: 5px 5px  30px 10px silver;
    border:silver;   
}
.gold{
    box-shadow: 5px 5px 50px 10px gold;
    border: gold;
}
.w-10{
    width:10%;
}
.side-list{
   
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.side-list>ul.l{
    height: 20%;
  
    overflow: auto;

}
.side-list>ul.l::-webkit-scrollbar{
    display: none;
}
.text-shadow{
    text-shadow: 5px 5px 10px grey;

}

/*Ro Css */
.banner5{
    background: url(./images/bg4.png);
    color: white;
}
.search input{
    width: 90%;
    display: inline-block;
    border-radius: 5px;
    margin-left: 30px;
}
.search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }



.btns{
    display: block;
border-radius: 10px;
margin: 0px 250px;
}

/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
 padding: 30px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.footer1 {
   
    padding: 10px;
    text-align: center;
}
